:root {
    --color-blue: #316cf4;
    --color-green: #408558;
    --color-red: #cb444a;
    --color-yellow: #d68100;

    --color-bg-blue: #d3e1fc;
    --color-bg-green: #d5e6de;
    --color-bg-red: #f3d8da;
    --color-bg-yellow: #fdf3d1;

    --color-issue-close: #8059d9;
}
