.ss-button {
    height: 35px;
    font-size: 0.8rem;
}
.ss-card {
    padding: 15px;
}
.ss-card header {
    font-size: 0.95rem;
    font-weight: bold;
}
.layui-tab-title li {
    font-size: 0.8rem;
    line-height: 30px;
    min-width: 10%;
}
.layui-tab-title .layui-this:after {
    transform: translateX(-50%);
    height: 30px;
}

.main-body > ul {
    min-width: 45px;
}
.main-body > ul > li {
    line-height: 30px;
    min-width: 50px;
    padding: 0;
}
.main-body > ul > li > svg,
.main-body > ul > li.layui-this > svg {
    width: 15px;
    height: 15px;
    padding: 10px;
}
.login-pan-card {
    max-width: 250px;
    padding: 30px 20px;
}
.login-pan-card > svg {
    width: 20%;
}
.login-pan-card p {
    font-size: 0.9rem;
}
.login-pan-card label > input {
    height: 30px;
    font-size: 0.8rem;
}
.login-pan-card a {
    font-size: 0.7rem;
}
.login-pan-card button {
    height: 30px;
    width: 95%;
}

.friend-list {
    width: 220px;
}
.friend-list > div:first-child label {
    height: 30px;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-font-2);
}

.friend-body {
    margin-bottom: 5px;
    margin-top: 0;
}
.friend-body img {
    height: 30px;
    width: 30px;
}
.friend-body > div p {
    font-size: 0.8rem;
}
.friend-body > div > div a {
    font-size: 0.75rem;
}
.friend-body:hover {
    background: transparent !important;
}
.friend-body > div > div a.time {
    font-size: 0.7rem;

}

.chat-pan {
    left: 270px;
}
.chat-pan > div.info {
    padding: 10px;
    width: calc(100% - 50px);
}
.chat-pan > div.info > div.info p {
    font-size: 0.9rem;
}
.chat-pan > div.info > div.info span {
    font-size: 0.75rem;
}
.chat-pan > div.info > img {
    width: 40px;
    height: 40px;
}
.chat-pan > div.chat {
    margin-top: -80px;
}
.chat-pan > div.info > div.more {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.chat-pan > div.info > div.more > svg {
    width: 15px;
    height: 15px;
}
.chat-pan > div.more > div:nth-child(2) {
    padding-top: 10px;
}
.chat-pan > div.more > div:nth-child(2) > div:first-child {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.chat-pan > div.more > div:nth-child(2) > div:first-child > svg {
    margin: 12.5px;
    height: 15px;
    width: 15px;
}
.chat-pan > div.more > div:nth-child(2) > div:nth-child(2) {
    height: 40px;
}
.chat-pan > div.more > div:nth-child(2) > div > div {
    min-height: 15px;
    min-width: 15px;
}
.chat-pan > div.more > div:nth-child(2) > div > div > svg {
    width: 15px;
    height: 15px;
    margin: 7px;
}

.message > img {
    border: 1px solid var(--color-card-2);
    height: 30px;
    width: 30px;
}
.message-body > a {
    font-size: 0.8rem;

}
.message-body > div {
    font-size: 0.9rem;
}

.opt-main > div:first-child {
    width: 250px;
}

.logo-card {
    padding: 30px 15px 15px 15px;
}
.logo-card>svg {
    width: 70px;
}
.logo-card>div>span {
    font-size: 1.1rem;
}
.logo-card>span {
    font-size: 0.8rem;
    margin-top: 5px;
}
.logo-card>a {
    font-size: 0.7rem;
}
.contributors-card>div>div {
    min-width: 25px;
    min-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
.contributors-card {
    width: calc(100% - 20px);
    min-height: 0;
}
.buttons > a {
    height: 35px;
    font-size: 0.75rem;
}
.buttons > a:last-child {
    width: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bcd-about>div>div {
    height: 15px;
}
.logo-card>div,
.opt-main > div:first-child>div:not(:first-child) {
    margin-top: 10px;
}

.end-card {
    margin: 10px 10px 20px 10px;
    padding: 15px 20px;
}
.end-card>div>div>span {
    font-size: 0.9rem;
}
.end-card>div>div {
    margin-bottom: 0;
}
.end-card>svg {
    width: 40px !important;
    height: 40px !important;
}

.note-base {
    padding: 5px 20px 5px 15px;
    font-size: 0.7rem;
}
.exp-header {
    margin-left: 0 !important;
    font-size: 0.8rem;
}
.chat-pan > div.new-msg {
    margin: -50px 20px 15px auto;
    height: 35px;
}
.chat-pan > div.new-msg > div > svg {
    padding: 10px;
    width: 13px;
    height: 13px;
}
.chat-pan > div.new-msg > div > span {
    margin-left: 0;
}
.menu,
.msg-menu-body {
    padding: 5px !important;
}
.menu div.item,
.msg-menu-body > div {
    padding: 3px 8px !important;
}
.menu div.item > svg,
.msg-menu-body > div > div > svg {
    fill: var(--color-font-1);
    margin-top: 4px;
    height: 0.8rem;
    width: 0.8rem !important;
    opacity: 0.5;
    margin-right: 0 !important;
}
.menu div.item > a,
.msg-menu-body > div > a {
    font-size: 0.8rem !important;
}
.more-detail.show {
    height: 40px;
}
.more-detail > div {
    margin: 0 5px;
    width: 40px;
    height: 40px;
}
.more-detail > div > svg {
    margin: 12.5px;
    height: 15px;
    width: 15px;
}
.chat-info > header > span {
    font-size: unset;
}
.chat-info > header > svg {
    height: 1.1rem;
}
.chat-info-base > div:first-child > img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}
.chat-info-base > div:first-child > div:nth-child(2) > a {
    font-size: 0.8rem;
}
.chat-info-base > div:first-child > div:nth-child(2) > span {
    color: var(--color-font-2);
    font-size: 0.7rem;
}
.chat-info-base > div:first-child > div:nth-child(3) {
    height: 20px;
    width: 20px;
    padding: 10px;
}
.search-view > input {
    border-bottom: 1px solid var(--color-font-2) !important;
    height: 30px !important;
    font-size: 0.8rem;
}
.chat-info-tab-member > div > img {
    height: 25px;
    width: 25px;
}
.chat-info-tab-member > div > div > a {
    font-size: 0.8rem;
}
.opt-tab {
    color: var(--color-font);
    display: flex;
    padding: 10px !important;
    border: 0;
    min-height: 30px;
    height: 30px;
}
.account-info>img {
    height: 26px;
}
.account-info>svg {
    height: 15px;
    width: 15px;
}
.account-info>div>div>span:first-child {
    font-size: 0.9rem;
}
.account-info>div>div>span:last-child {
    font-size: 0.8rem;
}
.account-info {
    padding: 10px 20px;
}
.opt-page>div>header {
    font-size: 0.85rem;
}
.l10n-info>div>span:first-child {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.l10n-info>div>span:first-child > a {
    font-size: 0.75rem;
}
.l10n-info>div>span:last-child {
    font-size: 0.75rem;
}
.l10n-info>svg {
    margin: 0 15px 0 5px;
    min-width: unset;
    width: 2rem;
}
.bot-info > div > span > span:first-child {
    font-size: 0.9rem;
}
.bot-info > div > span > span:last-child {
    font-size: 0.75rem;
}

.opt-item>div > span:first-child {
    font-size: 0.85rem;
}
.opt-item>div > span:last-child {
    font-size: 0.7rem;
}
.opt-item>svg {
    height: 1rem;
    width: 1rem;
}
.opt-item input[type=text] {
    border-bottom: 1px solid var(--color-font-2);
    line-height: 28px;
    height: 28px;
    font-size: 0.75rem;
    width: 140px !important;
}
.opt-body label[class=ss-switch] {
    --switch-height: 24px;
    min-width: 42px;
}
.theme-color-col>label {
    --radio-size: 14px;
}
.opt-item select {
    border-bottom: 1px solid var(--color-font-2);
    line-height: 28px;
    font-size: 0.75rem;
}
.opt-item .ss-button {
    height: 30px;
    font-size: 0.75rem !important;
    width: 90px !important;
}

.pop-box-body > div.button {
    margin: 0 -15px -15px -15px;
}
.pop-box-body > div.button > button {
    height: 30px;
}

.view-iframe {
    margin: -35px -35px -25px -35px;
    width: calc(100% + 70px);
    border-radius: 7px;
    border: none;
}

.img-sender > div.card {
    margin: 50vh 0 0 50%;
    max-height: 70%;
    width: 70%;
}
.img-sender > div.card > div.hander > span {
    font-size: 0.9rem;
}
.img-sender > div.card > div.hander > button {
    height: 30px;
    font-size: 0.8rem;
    width: 90px;
}
.img-sender > div.card > div.sender > svg {
    width: 15px;
    height: 15px;
    padding: 12.5px;
    margin-right: 15px;
}
.img-sender > div.card > div.sender > input {
    height: 40px;
}

.forward-pan > div.card {
    height: 70%;
    width: 70%;
}
.forward-pan > div.card > header > span {
    font-size: 0.9rem;
}
.forward-pan > div.card > header > svg {
    height: 1.1rem;
}
.forward-pan > div.card > input {
    height: 30px;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-font-2);
}
.forward-pan > div.card > div > div > img {
    width: 35px;
    height: 35px;
}
.forward-pan > div.card > div > div p {
    font-size: 0.85rem;
}
.forward-pan > div.card > div > div span {
    font-size: 0.7rem;
}

.app-msg {
    height: calc(100% - 50px);
    padding-left: 50px;
}

.app-msg > div {
    border-radius: 7px;
    height: 15px;
}
.app-msg > div > a {
    font-size: 0.87rem;
}
.app-msg > div > div:first-child > svg {
    margin-top: 3px;
    height: 0.8rem;
}
.app-msg > div > div:last-child {
    margin-right: -5px;
}

@media (max-width: 700px) {
    .main-body > ul {
        height: 60px !important;
    }
}
