/* Windows 桌面端附加样式 */

body,
input {
    font: 14px "Segoe UI", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif !important;
}

#base-app.withBar {
    height: calc(100% - 35px);
    padding-top: 35px;
}

.top-bar {
    margin-bottom: 0 !important;
    border-radius: 7px 7px 0 0;
    background: transparent;
    box-shadow: unset;
    height: 35px;
}
.top-bar > div.controller > div {
    padding: 7px;
}
.top-bar > div.controller > div > svg {
    height: 14px;
}

.main-body > div {
    margin-top: -35px;
    height: calc(100% + 35px);
}
.main-body > ul {
    margin-top: -35px;
    height: calc(100% + 35px);
    padding-left: 5px;
}

.chat-pan.withBar {
    left: 275px;
    top: 0;
    height: calc(100% - 25px);
    padding-top: 25px;
}
.chat-info {
    margin: calc(50vh - 20px) 0 0 50%;
}
.opt-main > div:last-child {
    padding-top: 25px !important;
    height: calc(100% - 17px) !important;
}

@media (max-width: 700px) {
    .friend-list {
        width: 60px !important;
    }
    .opt-main > div:last-child {
        padding-top: 25px !important;
        height: calc(100% - 37px) !important;
    }
    .chat-pan.withBar {
        left: 60px !important;
        height: calc(100% - 75px);
        padding-top: 20px;
    }
    .chat-pan.open.withBar {
        left: 80px !important;
    }
    .chat-info {
        width: calc(100% - 70px);
        margin: calc(50vh - 20px) 0 0 20px !important;
    }
    .chat-info-pan {
        height: calc(100% + 55px);
        margin-top: -20px;
    }
    .friend-list > div:first-child {
        margin: 55px 15px 0 10px !important;
    }
    .friend-list > div:first-child > div.small > div {
        width: 35px;
        height: 35px;
        margin-right: 0;
    }
    .friend-list.open > div:first-child > div.small > div {
        height: 44px;
        width: 44px;
    }

    .friend-list > div:first-child > div.small {
        margin-top: -20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .chat-pan.withBar {
        padding-top: 0;
        left: 0 !important;
    }
    .friend-list > div:first-child {
        margin: 80px 15px 0 10px !important;
    }
    .chat-info-pan {
        height: calc(100% + 95px);
    }
    .chat-info {
        margin: calc(50vh - 20px) 0 -20px 0 !important;
    }
}
