#app {
    background: none !important;
}

::-webkit-scrollbar {
    background: rgba(var(--color-card-rgb), 0.3);
}

.pop-box > div:last-child {
    opacity: 0.5;
}
.pop-box-body {
    background-color: rgba(var(--color-card-rgb), 0.3);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}
.pop-box-body > div.button {
    background: rgba(var(--color-card-1-rgb), 0.5);
}

.friend-view > div:last-child {
    background: transparent;
    box-shadow: unset;
}
.friend-view > div:last-child > div {
    background: unset;
    box-shadow: unset;
}
.friend-view > div:last-child > div.cd {
    display: none;
}
.friend-body.onmenu,
.friend-body:hover {
    background: rgba(var(--color-card-2-rgb), 0.7) !important;
    backdrop-filter: blur(20px);
}
.friend-body > svg {
    background: var(--color-main);
    color: var(--color-font-r);
}


.chat-pan {
    background: transparent;
    box-shadow: unset !important;
    border-left: 1px solid var(--color-shader);
}
.chat-pan > div.bg {
    background: unset;
}
.chat-pan > div.info,
.sys-not-pan > div:first-child {
    background: rgba(var(--color-card-rgb), 0.3);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}

.chat-pan > div.new-msg > div {
    background: rgba(var(--color-card-1-rgb), 0.4);
    backdrop-filter: blur(15px);
}

.merge-pan.show > div:first-child {
    opacity: 0;
}
.merge-pan > div:last-child {
    background: rgba(var(--color-card-rgb), 0.5);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}

.sys-not-list > div {
    background: rgba(var(--color-card-rgb), 0.3);
}

.chat-info {
    background-color: rgba(var(--color-card-rgb), 0.5);
    backdrop-filter: blur(20px);
}
.chat-info-tab > div:first-child {
    background: transparent;
}
.forward-pan > div.card {
    background: rgba(var(--color-card-rgb), 0.5);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}
.forward-pan > div.bg {
    background: unset;
}

.user-config {
    background: rgba(var(--color-card-rgb), 0.7);
    backdrop-filter: blur(25px);
}
.chat-info-base {
    background: rgba(var(--color-card-1-rgb), 0.8);
    backdrop-filter: blur(25px);
}

.chat-pan > div.more > div:nth-child(2) > div {
    background: rgba(var(--color-card-2-rgb), 0.5);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}
.more-detail > div {
    background: rgba(var(--color-card-2-rgb), 0.7);
    backdrop-filter: blur(20px);
}
.more-detail > div.space {
     backdrop-filter: unset;
}
.note-base {
    background: rgba(var(--color-card-rgb), 0.5);
}
.message-body > div {
    background: rgba(var(--color-card-rgb), 0.5);
    backdrop-filter: blur(20px);
}
.msg-menu-body {
    background: rgba(var(--color-bg-rgb), 0.3);
    backdrop-filter: blur(10px);
}
.message.selected {
    background: #00000010;
    backdrop-filter: blur(5px);
}

.msg-replay {
    background: #0000000f;
}

.face-pan,
.jin-pan,
.select-tag,
.replay-tag,
.at-tag,
.search-tag,
.img-pan {
    background-color: rgba(var(--color-card-rgb), 0.5);
    backdrop-filter: blur(15px);
}
.base-face > div,
.face-stickers > img,
.jin-pan-body > div {
    background: rgba(var(--color-card-rgb), 0.3);
}
.at-tag > div.selected,
.at-tag > div:hover {
    background-color: rgba(var(--color-card-2-rgb), 0.5);
}

.contributors-card {
    background: unset;
}

.opt-main > div:last-child {
    background-color: transparent !important;
    box-shadow: unset !important;
}
.opt-page > div,
.opt-tab > div:first-child,
.end-card {
    background: rgba(var(--color-card-rgb), 0.3);
    box-shadow: unset !important;
}
.account-info {
    background: var(--color-main) !important;
}
.opt-page > div > div.tip,
.l10n-info,
.bot-status {
    background: rgba(var(--color-card-1-rgb), 0.4);
}

.opt-item:hover {
    background: rgba(var(--color-card-1-rgb), 0.8);
}
.opt-item input[type='password'],
.opt-item input[type='text'],
.opt-item select,
.opt-item > div.file-choice > div,
.ss-switch > div,
.debug-info {
    background: rgba(var(--color-card-1-rgb), 0.5);
}
.ss-range input {
    background-color: rgba(var(--color-card-1-rgb), 0.5);
}

.dept-list > div:first-child {
    background: unset;
}
.power-by,
.dept-list-body > div.info,
.dept > div {
    background: rgba(var(--color-card-rgb), 0.3) !important;
}

.umami-info-pan {
    background: transparent !important;
}
.view-pan {
    background: rgba(var(--color-card-rgb), 0);
}
.type-list {
    background: rgba(var(--color-card-2-rgb), 0.5) !important;
}
.detail-list {
    background: rgba(var(--color-card-1-rgb), 0.5) !important;
}

.end-card > svg {
    opacity: 0.5;
}

.release-item {
    background: rgba(var(--color-card-rgb), 0.5) !important;
}

.global-session-search-bar {
    background-color: rgba(var(--color-card-rgb), 0.3);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}

.qzone-view-header a,
.create-qzone,
.qzone-feed-load-state {
    background: rgba(var(--color-card-rgb), 0.8) !important;
    backdrop-filter: blur(10px);
}
.qzone-feed-card {
    background: rgba(var(--color-card-rgb), 0.6);
    backdrop-filter: blur(10px);
}

@media (max-width: 700px) {
    .friend-list {
        background: transparent !important;
    }
}

@media (max-width: 500px) {
    .chat-pan {
        backdrop-filter: blur(10px);
    }
}
