html, body {
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

#app {
    background-color: var(--color-bg);
    height: 100%;
}

.main-body {
    flex-direction: row;
    margin-top: 0;
    display: flex;
    height: 100%;
}
.main-body > ul {
    background: var(--color-card-2);
    flex-direction: column;
    display: flex;
    height: 100%;
    border: none;
    width: 75px;
}
.main-body > ul > li {
    padding: 0 3px;
}
.main-body > ul > li:first-child {
    padding-top: 15px;
}
.main-body > ul > li::after {
    display: none;
}
.main-body > ul > li.layui-this > svg {
    background-color: var(--color-main);
    fill: var(--color-font-r);
}
.main-body > ul > li > svg {
    transition: background .3s, fill .3s;
    fill: var(--color-font-1);
    border-radius: 7px;
    padding: 15px;
    height: 20px;
    width: 20px;
}
.main-body > div {
    width: 100%;
    padding: 0;
    flex: 1;
}
.main-body > div > div {
    height: 100vh;
}

.home-body {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.login-pan-card {
    background: var(--color-card);
    padding: 40px 30px;
    text-align: center;
    max-width: 310px;
    overflow: hidden;
 }
 .login-pan-card > svg {
    fill: var(--color-main);
    width: 25%;
 }
.login-pan-card p {
    color: var(--color-main);
    font-size: 1rem;
    margin: 20px;
}
.login-pan-card label {
    background: var(--color-card-1);
    width: calc(100% - 42px);
    transition: all .3s;
    border-radius: 50px;
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
}
.login-pan-card label:focus-within {
    background: var(--color-card-2);
}
.login-pan-card label:focus-within > svg {
    fill: var(--color-main);
}
.login-pan-card label:focus-within > input {
    outline: none;
}
.login-pan-card label > input {
    background: transparent;
    width: 100%;
    height: 40px;
    flex: 1;
}
.login-pan-card label > svg {
    fill: var(--color-font);
    transition: fill .3s;
    width: 15px;
}
.login-pan-card label.default {
    background: unset;
    border: none;
}
.login-pan-card label.default > input {
    background: unset;
    height: auto;
    flex: unset;
    width: auto;
}
.login-pan-card label.default > a {
    margin-left: 10px;
    margin-top: 0;
}
.login-pan-card button {
    margin-top: 30px;
    height: 40px;
    width: 100%;
}
.login-pan-card a {
    color: var(--color-font);
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    opacity: 0.7;
}

.wave-pan {
    width: calc(100% + 60px);
    margin-bottom: -50px;
    margin-top: -90px;
    overflow: hidden;
    z-index: -1;
    float: left;
}
.wave-pan > svg {
    fill: var(--color-card-2);
}
.wave-pan > svg > g > use {
    opacity: 0.5;
}
.wave-pan > svg > g > use:last-child {
    opacity: 1;
}

.friend-view {
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}
.friend-view > div:last-child {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}
.friend-view > div:last-child > div {
    background: var(--color-card-1);
    text-align: center;
    padding: 40px;
}
.friend-view > div:last-child > div > svg {
    fill: var(--color-main);
    width: 50px;
}
.friend-view > div:last-child > div > span {
    font-size: 0.9rem;
    margin-top: 10px;
    display: block;
}

.friend-list {
    background: var(--color-card-1);
    flex-direction: column;
    overflow: hidden;
    display: flex;
    width: 300px;
}
.friend-list > div:first-child {
    margin: 15px;
}
.friend-list > div:first-child > div.base {
    background: var(--color-main);
    border-radius: 7px 7px 0 0;
    color: var(--color-font-r);
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    display: flex;
}
.friend-list > div:first-child > div.base.only {
    border-radius: 7px;
}
.friend-list > div:first-child > div.small {
    display: none;
}
.friend-list > div:first-child > div.small > span {
    background: var(--color-main);
    color: var(--color-font-r);
    align-items: center;
    margin-right: 10px;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 1rem;
    display: flex;
    height: 50px;
    flex: 1;
}
.friend-list > div:first-child > div > svg {
    fill: var(--color-font-r);
    cursor: pointer;
    opacity: 0.7;
    height: 1rem;
}
.friend-list > div:first-child label {
    background: var(--color-card-2);
    border-radius: 0 0 7px 7px;
    height: calc(1rem + 20px);
    align-items: center;
    display: flex;
    width: 100%;
}
.friend-list > div:first-child label > svg {
    fill: var(--color-font-1);
    margin: 0 10px;
    height: 0.9rem;
}
.friend-list > div:first-child label > input {
    background: transparent;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    flex: 1;
}
.friend-list > div:last-child {
    width: calc(100% - 5px);
    padding: 0 7px 0 5px;
    -webkit-box-flex: 1;
    overflow-y: scroll;
    font-size: 1rem;
    height: 100%;
    flex: 1;
}
.friend-list > div:last-child.open > div.active {
    background: var(--color-main) !important;
    color: var(--color-font-r) !important;
}

.friend-body {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: var(--color-font);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    transform: translate(0, 0);
    transition: background .2s, color .2s, transform .2s;
}
.friend-body.active {
    background: var(--color-main);
    color: var(--color-font-r);
}
.friend-body:hover {
    background: var(--color-card-2) !important;
}
.friend-body.active:hover {
    background: var(--color-main) !important;
}
.friend-body img {
    border: 2px solid var(--color-card-2);
    border-radius: 7px;
    height: 50px;
    width: 50px;
}
.friend-body > div {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}
.friend-body > div:nth-child(1) {
    flex: unset;
    width: 4px;
    background: var(--color-main);
    border-radius: 4px;
    margin-right: 10px;
    transform: scaleY(0);
    margin-left: 3px;
    transition: transform .3s;
    display: unset !important;
}
.friend-body.active > div:nth-child(1) {
    background: var(--color-font);
}
.friend-body > div:nth-child(1).new {
    transform: scaleY(0.5);
}
.friend-body > div p {
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.friend-body > div > div {
    align-items: center;
    display: flex;
}
.friend-body > div > div a {
    color: var(--color-font-1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
    flex: 1;
}
.friend-body.active > div > div a {
    color: var(--color-font-1-r);
}
.friend-body > div > div a.time {
    flex: unset;
    margin-left: 15px;
    font-size: 0.8rem;
    opacity: 0.7;
    overflow: unset;
}
.friend-body > div > div svg {
    width: 0.6rem;
    fill: var(--color-font);
    opacity: 0.7;
    transform: rotate(45deg);
    margin-right: 5px;
}
.friend-body.active > div > div svg {
    fill: var(--color-font-r);
}
.friend-body > a {
    font-size: 0.9rem;
    color: var(--color-font-2);
}
.friend-body.active > a {
    color: var(--color-font-1-r);
}

/* TODO: BCUI - 这段 css 将在将来迁移到 Border Card UI 中合并 */
.menu {
    box-shadow: 0 0 5px var(--color-shader);
    background: var(--color-bg);
    transition: transform .1s;
    transform-origin: top;
    transform: scaleY(0);
    pointer-events: all;
    min-height: unset;
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
    width: 20%;
}
.menu.show {
    transform: scaleY(1);
}
.menu > div {
    transition: background .3s;
    background: transparent;
    align-items: center;
    border-radius: 7px;
    padding: 3px 15px;
    cursor: pointer;
    display: flex;
}
.menu > div:hover {
    background: var(--color-main);
}
.menu > div > div > svg {
    fill: var(--color-font-1);
    transition: fill .3s;
    margin-right: 10px;
    margin-top: 7px;
    height: 1rem;
    width: 1rem;
}
.menu > div:hover > div > svg {
    fill: var(--color-font-r);
}
.menu > div > a {
    color: var(--color-font);
    transition: color .3s;
}
.menu > div:hover > a {
    color: var(--color-font-r);
}

.app-msg {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: calc(100% - 20px);
    pointer-events: none;
    position: absolute;
    padding-left: 90px;
    display: flex;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
}
.app-msg > div {
    box-shadow: 0 0 5px var(--color-shader);
    background: var(--color-main);
    overflow-wrap: anywhere;
    align-items: center;
    pointer-events: all;
    width: fit-content;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    max-width: 20%;
    display: flex;
}
.app-msg > div svg {
    fill: var(--color-font-r);
}
.app-msg > div > div:first-child > svg {
    color: var(--color-font-r);
    margin-top: 5px;
    height: 1rem;
}
.app-msg > div > a {
    color: var(--color-font-r);
    user-select: none;
    margin: 0 10px;
}
.app-msg > div > div:last-child {
    border-radius: 7px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.app-msg > div > div:last-child:hover {
    background: rgba(0, 0, 0, 0.03);
}
.app-msg > div > div:last-child > svg {
    color: var(--color-font-1-r);
    margin-left: 5px;
    margin-top: 3px;
    height: 1rem;
    height: 1rem;
}

/* 图片预览器覆盖样式 */
.viewer-button {
    background-color: var(--color-card-2);
    border-radius: 7px;
    height: 40px;
    width: 40px !important;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
}
  
.viewer-button:focus,
.viewer-button:hover {
    background-color: var(--color-card-2);
}

.viewer-button::before {
    bottom: 10px;
    left: 11px;
    position: absolute;
}

.viewer-toolbar > ul > li {
    background-color: var(--color-card-2);
    border-radius: 7px;
    float: left;
    height: 35px;
    width: 35px;
    margin: 0 10px;
}

.viewer-toolbar > ul > li:focus,
.viewer-toolbar > ul > li:hover {
    background-color: var(--color-card-2);
}

.viewer-toolbar > ul > li:focus {
    box-shadow: 0 0 3px transparent;
}

.viewer-toolbar > ul > li::before {
    margin: 7px;
}

.viewer-list > .viewer-active {
    border-bottom: 2px solid var(--color-main);
}
.viewer-list > li {
    width: 50px;
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid transparent;
}

.viewer-tooltip {
    display: none;
}

.viewer-canvas {
    backdrop-filter: blur(10px);
    background: transparent;
}

.viewer-navbar {
    background-color: transparent;
}

.viewer-footer {
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}
.viewer-footer > div {
    margin: 20px;
}
.viewer-footer > div:last-child {
    align-items: flex-end;
    display: flex;
    flex: 1;
}
.viewer-footer ul {
    pointer-events: all;
    height: 55px;
}

.hiden-home {
    margin-top: calc(-100% + 5px);
}

@media (max-width: 700px) {
    /* 侧栏及主布局自适应 */
    .main-body {
        flex-direction: column-reverse;
    }
    .main-body > div > div {
        height: calc(100vh - 75px);
    }
    .main-body > ul {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 75px;
        width: 100%;
        z-index: 10;
    }
    .main-body > ul > li {
        padding-top: 15px !important;
    }
    .side-bar-space {
        display: none;
    }
    .hiden-home {
        margin-top: calc(100% + 5px);
        margin-left: -70px;
    }
    /* 二级侧栏 */
    .friend-list {
        transition: transform .3s;
        width: 80px;
    }
    .friend-list.open {
        width: 300px !important;
    }
    .friend-list > div:first-child > div.base {
        display: none;
    }
    .friend-list > div:first-child > div.small {
        align-items: center;
        display: flex;
        height: 50px;
        width: 100%;
    }
    .friend-list > div:first-child > div.small > div.reload {
        display: none;
    }
    .friend-list.open > div:first-child > div.small > div.reload {
        background: var(--color-card-2);
        display: flex !important;
        margin-right: 10px;
    }
    .friend-list.open > div:first-child > div.small > div.reload > svg {
        fill: var(--color-font);
    }
    .friend-list > div:first-child > div.small > div {
        background: var(--color-main);
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        display: flex;
        height: 100%;
        width: 50px;
    }
    .friend-list > div:first-child > div.small > label {
        margin-right: 10px;
        height: 50px;
        flex: 1;
    }
    .friend-list.open > div:first-child > div.small > label {
        display: flex !important;
    }
    .friend-list > div:first-child > div.small > div > svg {
        fill: var(--color-font-r);
        height: 17px;
        opacity: 1;
    }
    .friend-list > div:first-child label {
        display: none;
    }
    .friend-list > div:last-child.open > div {
        padding: 10px !important;
        margin: 10px !important;
    }
    .friend-list > div:last-child.open > div > div {
        display: block !important;
    }
    .friend-body {
        background: transparent !important;
        justify-content: center;
        padding: 10px 0;
        margin: 0;
    }
    .friend-body > div {
        display: none;
    }
    .friend-body img {
        height: 45px;
        width: 45px;
    }
    .friend-body.active:hover {
        background: var(--color-card-2) !important;
    }
    .friend-body.active img {
        border: 2px solid var(--color-main);
    }
    .friend-body > div:nth-child(1) {
        transform: scaleY(1) !important;
        position: absolute;
    }
    .friend-body > div:nth-child(1).new {
        border-radius: 100%;
        height: 15px;
        width: 15px;
        right: -3px;
        top: 4px;
    }
    /* 应用消息 */
    .app-msg {
        height: calc(100% - 20px - 70px);
        padding-left: 20px;
    }
    .app-msg > div {
        max-width: calc(100% - 80px);
    }
    /* 右击菜单 */
    .menu {
        width: 30%;
    }
    .menu > div {
        padding: 5px 15px;
    }
}

/* 其他覆盖样式 */
.layui-tab-bar {
    display: none;
}